<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.demo">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--    <uses-permission android:name="android.permission.RECEIVE_SMS" />-->
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <!--    android:networkSecurityConfig="@xml/network_security_config"-->

    <application
        android:name=".base.MainApplication"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name2"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppParentTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="theme,label"
        tools:targetApi="q">

        <!--        <provider-->
        <!--            android:name="androidx.core.content.FileProvider"-->
        <!--            android:authorities="${applicationId}.provider"-->
        <!--            android:exported="false"-->
        <!--            android:grantUriPermissions="true">-->
        <!--            <meta-data-->
        <!--                android:name="android.support.FILE_PROVIDER_PATHS"-->
        <!--                android:resource="@xml/provider_paths"/>-->
        <!--        </provider>-->


        <activity android:name=".muebert.view.AwesomeAudioContentActivity" />

        <activity
            android:name=".create_post.CreatePostActivity"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".splash.SplashActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".photoeditor.EditImageActivity"
            android:screenOrientation="portrait" />
        <!-- android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode" -->
        <activity
            android:name=".activity.DashboardActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustUnspecified">

            <intent-filter>
                <action android:name="OPEN_ACTIVITY_1" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!--
             <intent-filter>
                 <action android:name="android.intent.action.SEND" />
                 <category android:name="android.intent.category.DEFAULT" />
                 <data android:mimeType="image/*" />
             </intent-filter>
             <intent-filter>
                 <action android:name="android.intent.action.SEND" />
                 <category android:name="android.intent.category.DEFAULT" />
                 <data android:mimeType="text/plain" />
             </intent-filter>
             <intent-filter>
                 <action android:name="android.intent.action.SEND_MULTIPLE" />
                 <category android:name="android.intent.category.DEFAULT" />
                 <data android:mimeType="image/*" />
                 android:windowSoftInputMode="stateHidden|adjustResize"
             </intent-filter>
            -->
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".activity.AccountHandlerActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustNothing" />
        <activity
            android:name=".activity.AccountSetupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".photoeditor.base.BaseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PhotoViewActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".marveleditor.OptiTrimmerActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.akexorcist.localizationactivity.ui.LocalizationActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".viewPost.home.ViewPostActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustNothing" />

        <activity
            android:name=".viewPost.home.SendCommentActivity"
            android:theme="@style/Theme.Transparent"
            android:windowSoftInputMode="stateVisible|adjustNothing" /> <!-- FileProvider -->

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/image_picker_provider_paths" />
        </provider>

        <service
            android:name=".fcm.FcmService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service android:name=".viewPost.services.VideoPreLoadingService" />

        <service android:name=".webservice.DownloadFileService" />

        <!--   <receiver
               android:name=".receivers.SMSListener"
               android:exported="true"
               android:permission="android.permission.BROADCAST_SMS">
               <intent-filter>
                   <action android:name="android.provider.Telephony.SMS_RECEIVED" />
                   <action android:name="com.google.android.gms.auth.api.phone.SMS_RETRIEVE" />
               </intent-filter>
           </receiver>-->
        <!--
 <meta-data
             android:name="com.facebook.sdk.ApplicationId"
             android:value="731238050974936"/>

         <provider android:authorities="com.facebook.app.FacebookContentProvider{731238050974936}"
             android:name="com.facebook.FacebookContentProvider"
             android:exported="true"/>
        -->

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/notification_icon" />

        <!--<meta-data
            android:name="com.google.firebase.messaging.default_notification_color"'com.google.android.gms:play-services:7.5.0'
            android:resource="@color/transparent" />-->

        <meta-data
            android:name="com.sec.android.support.multiwindow"
            android:value="false" />
        <meta-data
            android:name="com.samsung.android.sdk.multiwindow.multiinstance.enable"
            android:value="false" />
        <meta-data
            android:name="com.samsung.android.sdk.multiwindow.penwindow.enable"
            android:value="false" />

        <!--        <receiver android:name=".otp.SmsReceiver"
                    android:permission="com.google.android.gms.auth.api.phone.permission.SEND">
                    <intent-filter>
                        <action android:name="com.google.android.gms.auth.api.phone.SMS_RETRIEVED" />
                    </intent-filter>
                </receiver>-->
        <service
            android:name="com.amazonaws.mobileconnectors.s3.transferutility.TransferService"
            android:enabled="true" />
    </application>

</manifest>